/postgres_data/
/postgres_data/base/
/postgres_data/global/
/postgres_data/pg_commit_ts/
/postgres_data/pg_dynshmem/
/postgres_data/pg_logical/
/postgres_data/pg_multixact/
/postgres_data/pg_notify/
/postgres_data/pg_replslot/
/postgres_data/pg_serial/
/postgres_data/pg_snapshots/
/postgres_data/pg_stat/
/postgres_data/pg_stat_tmp/
/postgres_data/pg_subtrans/
/postgres_data/pg_tblspc/
/postgres_data/pg_twophase/
/postgres_data/pg_wal/
/postgres_data/pg_xact/
/postgres_data/pg_hba.conf
/postgres_data/pg_ident.conf
/postgres_data/PG_VERSION
/postgres_data/postgresql.auto.conf
/postgres_data/postgresql.conf
/postgres_data/postmaster.opts
/postgres_data/postmaster.pid
